@font-face {
  font-family: "Play";
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2"),
  url("../fonts/play-v21-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Play";
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2"),
  url("../fonts/play-v21-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
