@use '../../../global/variables' as v;

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;

    @include v.vp-767 {
      gap: 12px;
    }

  &__field {
    position: relative;

     &--error {
      input {
        border-color: #FF7575 !important;
      }
      .login-form__icon {
        color: #FF7575;
      }
    }
  }

  &__icon {
    color:  rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 16px;
    left: 16px;
  }
}


